h1 {
    text-align: center;
font-size: 56px;
}
#map { height: 200px; 
    background: border-box;
    border-radius: 7%;
    top: 0px;
    width: 435px;}
h2 {
    font-size: xx-large;
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: rgb(179, 114, 29);
    font-variation-settings: "SOFT" 0, "WONK" 0;
  }
p{
    color: #e3dec7;
    width: 410px;
    font-size: 24px;
    margin-left: 150px;
}
h3{
    font-size: 1.6em;
}

h1{
    color: white;
}
body{
    background-image: url(mark-autumns-GZyt0gMWKxw-unsplash.jpg);
}

footer, main img {
    border-radius: 50%;
}

h3 {
    color: white;
}

.navbar{
    padding: 0px;
}

.nav-links ul {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.nav-links {
   position: absolute;
   width: 100%;
   height: 100vh;
   top: 0px;
   left: 0px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgba(255, 255, 255, 0.20);
   backdrop-filter: blur(7px);
   margin-left: -100%;
   transition: all 0.7s ease;
}

footer ul img {
    border-radius: 50%;
}

.navbar .menu-hamburger {
    width: 35px;
    position: fixed;
    top: 45px;
    right: 50px;
    display: block;
}

.navbar .nav-links ul li {
    margin: 25px 0px;
    font-size: 1.5em;

list-style: none;
}

.navbar a {
    color: antiquewhite;
    text-decoration: none;
}

.navbar .logo{
    position: absolute;
    top: 50px;
    left: 35px;
    font-size: 30px;
    margin-left: 645px;
}
footer{
    display: flex;
    margin-left: 0px;
    flex-direction: column;
}
footer h2{
    text-align: center;
    color: rgb(239, 197, 118);
}
footer ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-variant: small-caps;
    flex-wrap: wrap-reverse;
}
.menu-mobile{
margin-left: 0px;
width: 100%;
height: 100%;
position: fixed;
}

